body {
    background-color: bisque;
  }
  .project-title{
    color:darkcyan;
    text-align: center
}
  .header{
      color:darkcyan;
  }

  .genre-name{
      color: blue;
      text-decoration: underline;
  }
  .create-bttn{
      background-color:darkgreen;
      color:lawngreen;
  }
  .delete-bttn{
      background-color:red;
      color:cornsilk
  }


  h1 {
    color: blue;
  }